html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  background-color: $color-bg;
  color: $color-content;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}