/*BASE COLORS*/
$c-bg: rgb(255, 255, 255);
$c-bg-alt: rgb(237, 237, 237);
$c-content: rgb(53, 53, 53);
$c-content-alt: rgb(40, 75, 99);
$c-accent: rgb(60, 110, 113);
$c-confirm: rgb(0, 255, 0);
$c-alert: rgb(255, 0, 0);
/*COLORS*/
$color-content: $c-content;
$color-accent: $c-accent;
$color-heading: $c-content-alt;
$color-bg: $c-bg;
$color-bg-alt: $c-bg-alt;
$color-bg-button: rgba($c-bg-alt, 0.5);
$color-border: $c-content;
$color-border-inactive: rgba($color-border, 0.5);
$color-modal-shadow: rgba($c-accent, 0.6);
$color-confirm: rgba($c-confirm, 0.1);
$color-alert: rgba($c-alert, 0.5);



/*Fonts*/
$font-family: "Roboto", sans-serif;
$font-size: 14px;

/*Other*/
$transition: all 0.35s;