/*Colors*/
//$color-content: #000000;
$color-bg: rgba(255, 255, 255, 1);
$color-bg-alt: rgba(245, 245, 219, 1);
$color-bg-button: rgba(245, 245, 219, 0.36);
//$color-accent: #5863f8;
//$color-heading: #000000;
//$color-heading-alt: #ffffff;
//@color-bg-alt: #ffffff;
//@color-bg-modal: rgba(0,0,0,0.6);
$color-border: rgba(0, 0, 0, 1);
$color-border-inactive: rgba(0, 0, 0, 0.5);
//$color-header: #ffffff;

$color-confirm: rgba(0, 255, 0, 0.2);
$color-alert: rgba(255, 0, 0, 0.5);

$color-modal-shadow: rgba(0, 0, 0, 0.5);

/*Fonts*/
$font-content: "Roboto", sans-serif;
$font-size: 14px;

/*Other*/
$transition: all 0.35s;